head
{
    position: absolute;
    max-width: 1200px;
}
.head-1
{
    display: block;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    padding-left: 20px;
    background-color: white;
    width: 1200px;
}
.head-2
{
    display: flex;
    position: relative;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    background-color: white;
    width: 1200px;
}
.section-1-head-2
{
    display: flex;
    padding-right: 10px;
}
.section-2-head-2
{
    display: flex;
    width: 500px;
    justify-content: space-between;
    align-items: center;
    height: 77px;
}
.section-3-head-2
{
    display: flex;
    border: 1px solid rgba(0,0,0,0.25);
    padding: 8px 5px 8px 10px;
}
.section-4-head-2
{
    display: flex;
}
.line-1-head-1
{
    display: inline-block;
    font-size: 14px;
    font-weight: 500px;
    padding: 5px 10px 5px 10px;
    margin: 0px 0px 5px 0px;
}
.decoration-1-head-1
{
    text-decoration: underline;
}
.logo-1-head-1
{
    width: 130px;
    height: auto;
    
}
.head-logo-1
{
    width: 130px;
    height: auto;
    fill: violet;
}
.courses-count-head-2
{
    color: white;
    background-color: red;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 8px 1px 8px;
    border-radius: 10px;
    margin-left: 5px;
}
.button-1-head-2
{
    align-items: center;
    display: flex;
    gap: 5px;
    width: auto;
    height: 77px;
    padding-left: 15px;
    padding-right: 15px;
}
.button-1-head-3
{
    align-items: center;
    display: flex;
    gap: 5px;
    width: auto;
    height: 77px;
    padding-left: 15px;
    padding-right: 15px;
}
.button-tag-head-2
{
    font-weight: bold;
    height: auto;
    display: inline-block;
}
.button-tag-1-head-2
{
    font-weight: bold;
    height: auto;
    display: inline-block;
    margin-right: 5px;
}
.arrow-symbol-head-2
{
    font-weight: bold;
    transform: rotate(90deg);
    height: auto;
    display: block;
}
.button-1-head-2:hover
{
    color: rgb(250, 77, 50);
    cursor: pointer;
    transition: 0.3s;
}
.button-1-head-3:hover
{
    color: rgb(250, 77, 50);
    cursor: pointer;
    transition: 0.3s;
}
.button-1-head-2:hover .arrow-symbol-head-2
{
    color: rgb(250, 77, 50);
    transform: rotate(-90deg);
    transition: 0.4s ease-out;
}
.button-1-head-3:hover .arrow-symbol-head-2
{
    color: rgb(250, 77, 50);
    transform: rotate(-90deg);
    transition: 0.4s ease-out;
}
.icon-1-head-2
{
    width: 20px;
    height: 20px;
}
.search-head-2
{
    border: none;
    outline: none;
    padding-left: 10px;
    font-size: 15px;
}
.flag
{
    height: 15px;
    width: 20px;
    box-shadow: 2px 2px 3px 1.5px rgba(0,0,0,0.15);
}

.flag-1-head-2
{
    height: 15px;
    width: 20px;
    object-fit: cover;
    object-position: center;
    padding-right: 5px;
}
.row-1-head-2
{
    display: flex;
    float: bottom;
    justify-content: space-around;
    color: black;
}
.drp-dwn-head-2-2
{
    display: none;
    position: absolute;
    width: 1200px;
    left: 0;
    top: 100%;
    box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.25);
}
.drp-dwn-head-2-3
{
    display: none;
    position: absolute;
    width: 440px;
    top: 100%;
    box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.25);
}
.col-1-head-1
{
   width: 230px;
}
.button-1-head-2:hover .drp-dwn-head-2-2
{
    display: block;
    transition: all 0.5s;
}
.button-1-head-3:hover .drp-dwn-head-2-3
{
    display: block;
    transition: all 0.5s;
}
.heading-head-2
{
    display: inline-block;
    font-weight: bold;
    font-size: 12px;
    padding-bottom: 15px;
    padding-top: 23px;
}
.heading-head-2:hover
{
    color: rgb(250, 77, 50);
    transition: 0.5s ease-in-out;
}
.dd-content-head-2
{
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
    color: rgb(77, 77, 77);
    font-weight: 500;
}
.dd-arrow-head-2
{
    padding-right: 8px;
}
.dd-content-head-2:hover
{
    color: rgb(250, 77, 50);
    transition: 0.40s ease-in-out;
}
.view-best-head-2
{
    padding-top: 5px;
    padding-bottom: 25px;
    
}
.view-best-arrow-head-2
{
    vertical-align: middle;
    width: 15px;
    height: 15px;
    color:rgb(250, 77, 50);
}
.dd-arrow-content-2-2
{
    vertical-align: middle;
    text-decoration: none;
    font-size: 14px;
    color: rgb(250, 77, 50);
}
.view-best-head-2:hover .view-best-arrow-head-2, .view-best-head-2:hover  .dd-arrow-content-2-2
{
    transition: all 0.35s ease-in;
    color: rgb(58, 56, 56);
}
.row-2-head-2
{
    display: flex;
    width: 1200px;
    position: relative;
    background-color: rgb(245, 243, 250);
    justify-content: space-between;
}
.row-2-section-1
{
    display: flex;
    position: relative;
    width: auto;
    align-items: center;
    text-align: center;
    padding: 5px 0px 5px 0px;
    border-left: 1px solid rgba(126, 113, 113, 0.3);
    
}
.row-2-section-head-2
{
    width: 169.9px;
    height: 70px;
    margin: 0px;
    padding: 13px 0px 12px ;
    align-items: center;
    justify-content: center;
    vertical-align: center;
}
.row-2-logo-section-head-2
{
    display: inline-block;
    width: 34px;
    height: 34px;
    color: rgb(250, 77, 50);
    padding-bottom: 8px;
    
}
.label-row-2-section-head-2
{
    width: 160px;
    display: inline-block;
    color: rgb(250, 77, 50);
    font-size: 12px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}
.row-2-section-1:hover .label-row-2-section-head-2
{
    color: black;
    transition: all 0.30s ease-in;
}
.tools-icon-head-2
{
    display: inline-block;
    width: 34px;
    height: 34px;
    vertical-align: middle;
    padding-bottom: 10px;
    padding-top: 15px;
    padding-right: 10px;
}
.drp-dwn-head-2-3-more
{
    width: 440px;
    background-color: rgb(245, 243, 250);
}
.button-drp-dwn-head-2-3
{
    font-size: 16px;
    font-weight: bold;
    color: rgb(250, 77, 50);
    text-align: center;
    padding: 15px 0px 15px 0px;

}
.drp-dwn-head-2-3-more:hover .button-drp-dwn-head-2-3
{
    text-decoration: underline;
    transition: 0.8s ease-in-out;
}

.dd-content-head-4
{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    width: 100%;
    font-size: 14px;
    color: rgb(77, 77, 77);
    font-weight: 500;
    border-radius: 10px;
    background-color: white;
    text-align: middle;
}

.dd-content-head-4:hover
{
    color: rgb(250, 77, 50);
    transition: 0.30s;
}
.dd-content-head-4:active
{
    background-color: rgb(245, 243, 250);
    transition: 0.25s;
}
.row-1-head-4
{
    display: flex;
    float: bottom;
    justify-content: space-evenly;
    color: black;
    border-bottom: 1px solid rgb(171, 171, 171);
}
.lang-head-2
{
    display: flex;
    text-decoration: none;
    padding-top: 7px;
    padding-bottom: 7px;
}
.lang-flag-head-2
{
    height: 15px;
    width: 20px;
    object-fit: cover;
    object-position: center;
    padding-right: 5px;
}
.lang-name-head-2
{
    color: rgb(77, 77, 77);
}
.lang-head-2:hover .lang-name-head-2
{
    color: rgb(250, 77, 50);
    transition: 0.30s;
}